<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>158642198496-s84smj18rop4fb406bru94fjiochf0o4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.158642198496-s84smj18rop4fb406bru94fjiochf0o4</string>
	<key>API_KEY</key>
	<string>AIzaSyB96GbgIz-53srSwjdOV3400YbOYycaRVs</string>
	<key>GCM_SENDER_ID</key>
	<string>158642198496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aplikasiCatatan.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aplikasi-catatan-bee23</string>
	<key>STORAGE_BUCKET</key>
	<string>aplikasi-catatan-bee23.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:158642198496:ios:da9600ad99c28af1623d85</string>
	<key>DATABASE_URL</key>
	<string>https://aplikasi-catatan-bee23-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>